
/* The basics */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Top bar with nav */
header {
  background-color: #1f2937;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  display: flex;
}
.logo {
  color: #EE9F38;
  margin-left: 10px;
  font-family: 'Gill Sans', sans-serif;
}
.logo h4 {
  font-size: 24px;
  color: #f9faf8;
}

.linkbar {
  margin-left: auto;
}
.linkbar ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin-right: 10px;
}
.linkbar ul li a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 1.2em;
  font-family: 'Gill Sans', sans-serif;
}
.linkbar ul li a:hover {
  color: #A3B1B2;
}

/* Content */

/* Image row */

/* Call to action card */

/* Footer */

footer {
  background-color: #1f2937;
  color: #DCDDD8;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', sans-serif;
}
